{% extends "base.twig" %}

{% block title %}Liste des ingrédients{% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}

<h1>Liste des ingrédients</h1>
<ul>
    {% for ingredient in ingredients %}
    <li><a href="/ingredients/{{ ingredient.id }}">{{ ingredient.name }}</a> </li>
    {% endfor %}
</ul>

{% endblock %}